<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>language.playdate</title>
   <link rel="stylesheet" type="text/css" href="/style.css">

 </head>

 <body>


<a href="/" class="indexButton"><button class=buttons>Home </button></a> 

<a href="organize_meetup" class="indexButton"><button class=buttons>Organize</button></a>

<button class=buttons>Join</button>

<h1>Organize a Meetup</h1>
 
<form action="/final_meetup">
  Language:<br>
  <input type="text" name="language">
  <br>
  Address:<br>
  <input type="text" name="address">
  <br>
  Zipcode:<br>
  <input type="text" name="zipcode">
  <br>
   Date:<br>
  <input type="text" name="date">
  <br>
   Time:<br>
  <input type="text" name="time">
  <br><br>
  <input type="submit" value="Submit">
</form> 
 </body>
</html>
